<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
    <title>HTML</title>
    <style>
      * {
        font-size: 16px;
        font-family: Consolas, sans-serif;
      }
    </style>
  </head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <body>
    <form method="post" action="./chatroom.html">
      <p><label>Please Input Your Nickname <input type="text" name="nickname"></label></p>
      <p><input type="submit" id="submit" value="Submit"></p>
    </form>
  </body>
</html>