
#container {
width: 500px;
height: 500px;
border: 1px solid black;
background: ivory;
}
#onlineDiv {
width: 100px;
height: 100px;
}
#chatView {
height: 90%;
overflow-y: scroll;
}
#chatForm {
height: 10%;
border-top: 1px solid black;
text-align: center;
}
#msg {
width: 80%;
height: 32px;
border-radius: 8px;
}
.msgLine {
margin: 15px;
}
.msgBox {
border: 1px solid black;
background: skyblue;
padding: 2px 5px;
border-radius: 10px;
}
#send {
width: 16%;
height: 34px;
border-radius: 50px;
background: black;
color: white;
}
#nicknameForm {
border: none;
padding: 10px 5px;
margin: 0px 0px 40px;
position: fixed;
bottom: 0%;
height: 5%;
float: left;
}
#nicknameForminput:focus {
outline: none;
}
#nicknameForm>button {
background: #333;
border: none;
padding: 0 1rem;
margin: 0.3rem;
border-radius: 3px;
outline: none;
color: #fff;
}
#typing
{ position: absolute; right: 0; bottom: 80px; outline: 1px solid darkred
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.canvas {
width: 950px;
height: 650px;
background-color: white;
border: 3px solid magenta;
}
